<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="/landing" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li>
        <%= link_to 'Rutas', routes_path  %>
      </li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li>
        <%= link_to 'Rutas', routes_path  %>
      </li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"></a>
  </div>
</nav>